*{
    margin: 0;
    padding: 5px 0px;
}
main{
    margin: 0 25%;
}
.botoes_exemplo btn{
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
a
.cabecalho{
    height: 70px;
}
.lista_cabecalho{
    text-decoration: none;
    color:black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lista_cabecalho a {
    color: inherit; 
    text-decoration: none; 
}
.lista_referencias{
    list-style: none;
}
.banner_inicial_menor{
    font-size:1rem;
}
.separador_secao{
    padding: 10px 0px;
}

.contornar{
    border-color: black;
    border-style: outset;
}

.exemplo{
    display: flex;
    flex-direction: row;
}
.botoes_exemplo{
    padding: 10px 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.container_orientação_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
