.cabecalho{
    height: 70px;
}
.lista_cabecalho{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lista_referencias{
    list-style: none;
}
.banner_inicial_menor{
    font-size:1rem;
}

*{
    margin: 0;
    padding:0;
}
main{
    margin: 0 25%;
}